In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import google_map_api_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-09-27 00:56:20,-46.1927,168.8643,51.48,35,6,2.44
1,1,Punta Arenas,CL,2021-09-27 00:58:50,-53.1500,-70.9167,41.11,75,0,10.36
2,2,Ponta Do Sol,PT,2021-09-27 00:58:13,32.6667,-17.1000,70.43,70,27,3.36
3,3,Pedernales,DO,2021-09-27 00:58:51,18.0384,-71.7440,82.49,77,95,2.44
4,4,Castro,BR,2021-09-27 00:58:51,-24.7911,-50.0119,63.05,73,2,4.27

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=google_map_api_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [6]:
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

In [9]:
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [11]:
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

In [14]:
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  60
What is the maximum temperature you would like for your trip?  90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Ponta Do Sol,PT,2021-09-27 00:58:13,32.6667,-17.1000,70.43,70,27,3.36
3,3,Pedernales,DO,2021-09-27 00:58:51,18.0384,-71.7440,82.49,77,95,2.44
4,4,Castro,BR,2021-09-27 00:58:51,-24.7911,-50.0119,63.05,73,2,4.27
5,5,Rikitea,PF,2021-09-27 00:56:01,-23.1203,-134.9692,73.78,72,2,19.42
7,7,Butaritari,KI,2021-09-27 00:58:52,3.0707,172.7902,83.97,72,99,15.88
8,8,Zambezi,ZM,2021-09-27 00:58:52,-13.5432,23.1047,64.02,28,55,4.12
10,10,Beloha,MG,2021-09-27 00:58:42,-25.1667,45.0500,69.17,67,0,7.85
13,13,Avarua,CK,2021-09-27 00:56:32,-21.2078,-159.7750,78.85,69,40,3.44
16,16,Puerto Ayora,EC,2021-09-27 00:58:34,-0.7393,-90.3518,69.28,90,99,8.37
17,17,Mumford,GH,2021-09-27 00:58:55,5.2618,-0.7590,74.80,90,100,8.93

In [21]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       3
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [35]:
preferred_cities_df=preferred_cities_df.dropna()

In [36]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2   Ponta Do Sol      PT     70.43  32.6667  -17.1000
3     Pedernales      DO     82.49  18.0384  -71.7440
4         Castro      BR     63.05 -24.7911  -50.0119
5        Rikitea      PF     73.78 -23.1203 -134.9692
7     Butaritari      KI     83.97   3.0707  172.7902
8        Zambezi      ZM     64.02 -13.5432   23.1047
10        Beloha      MG     69.17 -25.1667   45.0500
13        Avarua      CK     78.85 -21.2078 -159.7750
16  Puerto Ayora      EC     69.28  -0.7393  -90.3518
17       Mumford      GH     74.80   5.2618   -0.7590

In [38]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import google_map_api_key

In [ ]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": google_map_api_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels

In [30]:
len(hotels["results"])

20

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Ponta Do Sol,PT,70.43,32.6667,-17.1000,Hotel do Campo
3,Pedernales,DO,82.49,18.0384,-71.7440,Hotel Costa Marina
4,Castro,BR,63.05,-24.7911,-50.0119,CHACARA BAILLY
5,Rikitea,PF,73.78,-23.1203,-134.9692,People ThankYou
7,Butaritari,KI,83.97,3.0707,172.7902,Isles Sunset Lodge
8,Zambezi,ZM,64.02,-13.5432,23.1047,Royal Kutachika Lodge
10,Beloha,MG,69.17,-25.1667,45.0500,
13,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
16,Puerto Ayora,EC,69.28,-0.7393,-90.3518,Finch Bay Galapagos Hotel
17,Mumford,GH,74.80,5.2618,-0.7590,Spanish Villa

In [34]:
hotel_df.count()

City          368
Country       368
Max Temp      368
Lat           368
Lng           368
Hotel Name    368
dtype: int64

In [39]:
hotel_df.isnull().sum()

City          0
Country       0
Max Temp      0
Lat           0
Lng           0
Hotel Name    0
dtype: int64

In [ ]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [ ]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig