## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import google_map_api_key

# Configure gmaps
gmaps.configure(api_key=google_map_api_key)

In [12]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Ribeira Grande,PT,22.24,few clouds,38.5167,-28.7000,Quinta da Meia Eira
1,2,Vaini,TO,24.25,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
2,3,Chui,UY,13.81,broken clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
3,4,Rikitea,PF,22.86,broken clouds,-23.1203,-134.9692,People ThankYou
4,5,Avarua,CK,27.03,overcast clouds,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...,...,...
622,695,Shizunai-furukawachō,JP,17.30,overcast clouds,42.3339,142.3669,Shizunai Eclipse Hotel
623,696,Chālūs,IR,21.05,scattered clouds,36.6550,51.4204,نظام مهندسي ساختمان چالوس
624,697,Düzce,TR,14.52,broken clouds,40.8389,31.1639,Gösteri̇şli̇ Otel
625,698,Quryq,KZ,15.08,broken clouds,43.2000,51.6500,Gostinitsa Kuryk - Otel' Dlya Vsekh Kategoriy ...
626,699,Buraidah,SA,24.69,clear sky,26.3260,43.9750,فندق راحة السلام

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [15]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Half Moon Bay"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Half Moon Bay"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Burley"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Portland"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Fortuna"] 
vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
547,606,Half Moon Bay,US,27.06,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

print(f'Start: {start}, End: {end}')
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (37.4636, -122.4286), End: (37.4636, -122.4286)
Stop 1: (42.5357, -113.7928), Stop 2: (45.5234, -122.6762), Stop 3: (40.5982, -124.1573)

In [72]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING'or 'BICYCLING' or 'WALKING')
fig.add_layer(city_itinerary)

In [73]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,606,Half Moon Bay,US,27.06,clear sky,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
1,185,Burley,US,12.04,overcast clouds,42.5357,-113.7928,Fairfield Inn & Suites by Marriott Burley
2,370,Portland,US,18.07,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
3,668,Fortuna,US,20.66,clear sky,40.5982,-124.1573,Super 8 by Wyndham Fortuna

In [74]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [76]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))